# dependencies
/node_modules
/.pnp
.pnp.js
.env
yarn.lock
package-lock.json
/datasets/ecommerce-events-electronics.csv
/datasets/ecommerce-purchases-electronics.csv
# testing
/coverage

# production
/build
package-lock.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*

data